span {
    color: #333;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2rem;
}

.form label {
    color: black;

}

.form>img {
    margin-bottom: 2rem;

}

.form input,
.form select {
    width: 20%;
    align-items: center;
}

.form input[type="checkbox"] {
    width: 15%;
    position: relative;
    top: 20%;
}

.form .checkbox-div {
    width: 3000px
}

.form textarea {
    width: 30%;
    min-height: 50px;
}


.form button {
    position: absolute;
    bottom: 0;
}