span {
    color: #333;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2rem;
    height: fit-content;
}

.form label {
    color: black;

}

.form>img {
    margin-bottom: 2rem;

}

.form input,
.form select {
    width: 20%;
    align-items: center;
}

.form .size {
    width: 5%;
}

.form input[type="checkbox"] {
    width: 15%;
    position: relative;
    top: 20%;
}

.checkboxDiv{
    width: 300px;
    text-align: center;
}

.form textarea {
    width: 30%;
    min-height: 50px;
}

.editCancelButtons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    
}


.form button, .cancelButton {
    margin-top: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    background-color: rgb(167, 193, 168);
    border: none;
    border-radius: 5%;
    padding: .5rem;
    height: 40%;
    font-size: 1rem;
}


.form button:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}