.form {
    text-align: left;
    margin: 0 auto;
}

.form label {
    color: black;

}

.form input,
.form select {
    width: 20%;
    align-items: center;
}

.form input[type="checkbox"] {
    width: 2%;
    position: relative;
    top: 20%;
}

.form button {
    position: absolute;
    top: 70%;
}