@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    justify-content: space-around;

}

.navbar img {
    position: relative;
    left: -80%;
}

.navbar button {
    position: relative;
    right: -70%;
    height: fit-content;
    font-family: "Quicksand", sans-serif;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    width: 80%;
}

.list select {
    font-family: "Quicksand", sans-serif;
    width: 10%;
    margin-left: 1%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.list li {
    width: 80%;
}


.navbar input {
    position: absolute;
    right: 5%;
    top: 13%;
}