@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -5em;
    z-index: 1000;
}

.navbar>img {
    position: relative;
    top: 6rem;
    left: -40rem;
}

.div {
    display: flex;
    font-weight: 500;
}

.list {
    display: flex;
    margin: auto 20rem;
    font-size: 1.5rem;
}

.list a {
    color: #333;
}


.list select {
    font-family: "Quicksand", sans-serif;
    width: 10%;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    position: relative;
    z-index: 10000;
}


.list li:nth-of-type(2) {
    width: 20%;
    text-align: center;
}

.list li:nth-of-type(3) {
    width: 15%;
    text-align: justify;
}

.buttons {
    text-align: left;
    position: relative;
    right: 30px;
}

.buttons>li:nth-child(2) {
    margin-top: 2.7rem;
}

.buttons>li:nth-child(1) {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
}

.buttons input {
    margin-right: 0.5rem;
}

.buttons button {
    border: none;
    color: #333;
}