@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -5em;
}

.navbar>img {
    position: relative;
    top: 6rem;
    left: -40rem;
}


/*Div contenedor de los botones de navegaci贸n*/
.div {
    display: flex;
    font-weight: 500;
}

.list {
    display: flex;
    margin: auto 20rem;
    font-size: 1.5rem;
    position: relative;
    left: 2rem;
}

.list a {
    color: #333;
}

.list label, .list select {
    position: relative;
    left: 2rem;
}
.list select {
    font-family: "Quicksand", sans-serif;
    width: 10%;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    
}

/*Primer select*/
.list li:nth-of-type(2) {
    width: 18%;
    text-align: center;
}

/*Segundo select*/
.list li:nth-of-type(3) {
    width: 18%;
    text-align: justify;
}

/*Busqueda y bot贸n de agregar*/
.buttons {
    display: flex;
    text-align: left;
    position: relative;
    right: 0px;
}

/*Bot贸n de agregar*/
.buttons>li:nth-child(2) {
    margin-top: 2.7rem;

}

/*Bot贸n de buscar*/
.buttons>li:nth-child(1) {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    position: relative;
    top: .1rem;
}

/*Input de buscar*/
.buttons input {
    margin-right: 0.5rem;
    position: relative;
    bottom: .35rem;
}

.buttons button {
    border: none;
    color: #333;
}