@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -5em;
}

.navbar>img {
    position: relative;
    top: 7rem;
    left: -35rem;
}


/*Div contenedor de los botones de navegación*/
.div {
    display: flex;
    font-weight: 500;
}

.list {
    display: flex;
    margin: auto 0 0 20rem;
    font-size: 1.5rem;
    color: #333;
}

.list a:nth-of-type(1) {
    color: #333;
    width: 55%;
}

.list a:nth-of-type(2) {
    color: #333;
    width: 35%;
}


.list select {
    font-family: "Quicksand", sans-serif;
    width: 3%;
    margin: 0;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-right: 1.5rem;
}

/*Label Primer select*/
.list label:nth-of-type(1) {
    width: 30%;

}

/*Label Segundo select*/
.list label:nth-of-type(2) {
    width: 25%;

}

/*Busqueda y botón de agregar*/
.buttons {
    display: flex;
    text-align: left;
    position: relative;
    left: 5rem;
    top: 2.5rem;
    width: fit-content
}

/*Botón de agregar*/
.buttons>a {
    margin-top: 2.7rem;
    position: relative;
    left: .5rem;
    bottom: 2.5rem;
}

/*Input de buscar*/
.buttons input {
    margin-right: 0.5rem;
    position: relative;
    bottom: .35rem;
}

.buttons button {
    border: none;
    color: #333;
}