@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.navbar {
    width: 100%;
    text-align: center;
    position: absolute;
    top: -5rem;
}

.list {
    margin-left: 10rem;
}


.navbar > img {
    position: relative;
    top: 6rem;
    left: -40rem;
}

.div {
    display: flex;
    justify-content: space-evenly;
}
.buttons {
    position: relative;
    left: 10rem;
    margin: 0;
    
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    width: 80%;
}

.list select {
    font-family: "Quicksand", sans-serif;
    width: 10%;
    margin-left: 1%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.list li {
    width: 20%;
}


.navbar input {
    position: absolute;
    right: 5%;
    top: 13%;
}