.pagination {
    width: 100%;
    text-align: center;
    position: relative;
    top: 3rem;
    margin-bottom: 8rem;
}

.pagination a {
    margin: 1.5rem;
    color: rgb(118, 141, 132);

}

.pagination svg {
    position: relative;
    top: .4rem;
}