.pagination {
    width: 100%;
    text-align: center;
    position: relative;
    top: 3rem;
    margin-bottom: 8rem;
}

.pagination a {
    margin: 1.5rem;
    color: rgb(118, 141, 132);
    padding: 10px 20px;
    border-radius: 10%;
}

.pagination a:hover {
    background-color: rgba(146, 118, 111, 0.5);
    color: white;
}

.pagination svg {
    position: relative;
    top: .4rem;
}

.isActive {
    background-color: rgba(170, 202, 234, 0.5);
}