@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(238, 239, 224);

  --color-h1: rgb(118, 141, 132);
  --color-h2: rgb(129, 154, 145);
  --color-h3: rgb(167, 193, 168);
  --color-p: rgb(51, 51, 51);
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-h1)
}

h2 {
  color: var(--color-h2);
  margin-top: 10%;
  text-align: center;
}

h3 {
  color: var(--color-h3)
}

p,
li {
  color: var(--color-p)
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem;
  padding-right: 1rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}